.button {
    width: 200px;
    height: 90px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    margin: 0 10px
}

.button:hover {
    background-color: cornflowerblue;
    color: white;
}

.button:disabled {
    background-color: white;
    color: grey;
    opacity: 0.5;
}